# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies


# testing


# production
**/CRUDADO/obj/
**/CRUDADO/bin/
**/CRUDADO/.vscode/

# misc
**/CRUDADO/appsettings.json