

/* paging style */

ul, menu, dir {
	display: block;
	width: 50%;
	list-style-type: disc;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 40px;
}
.paginationnew {
	text-align: center;
	/* vertical-align: middle; */
	display: block;
	width:756px;
	height: 25px;
	margin: 0 auto;
	margin-bottom:20px;
}
.paginationnew ul li {
	list-style: none;
	float: left;
	margin: 0 3px;
	border: 1px solid #eaeaea;
	padding: 5px;
	font: normal 12px arial;
	color: #000;
	cursor: none;
}
.paginationnew ul li:hover {
	cursor: pointer;
}
#currentPageParent {
	font-size: 13px;
	float: left;
	width: 100px;
}
#currentPage {
	height: 25px;
	width: 50px;
	text-align: center;
	border: 1px solid #eaeaea;
}
#totalPage {
	height: 20px;
	text-align: center;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
input[type=number] {
  -moz-appearance:textfield; /* Firefox */
}
#pageSize {
	float: left;
	display: inherit;
	height: calc(2.25rem - 10px);
	width: 50px;
	padding: 0.375px 0.2rem;
	margin-left: 10px;
}